/* basic css stuff */
.wp-caption {
  padding: 0px;
  background-color: transparent;
  border: 0px;
}

.reach-branding {
  a:before {
    content: url('images/reach-favicon.png');
    padding-right: 4px;
  }
}


.mfp-gallery .mfp-title { display: none; }
