/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// Background colors:
// button colors

$button-color: #fff;
$button-bkg: #57f14e;
$button-hover-color: #0088c7;
$button-hover-bkg: #ffa73d;

$hvhc-periwinkle: #5272c4;
$hvhc-dk-green: #40693a;
$hvhc-med-periwinkle: #749bd2;
$hvhc-dusty-periwinkle: #0c71c3;

$hchv-header-font:#5f6263; //  #666; // for title, addr & tag-line
$hvhc-footer: #a7b6db;

// special colors
$top-cta-bkg: #4e72b0;
$top-cta-font: #faf3e6;
$bottom-cta-bkg: rgba(78,114,176,0.22);
/* ----------- end Colors ----------- */
