/* styling for tribe events & shortcode */

// shortcode
ul.ecs-event-list {
  li.ecs-event {
    padding-bottom: 10px;
    .entry-title {
      padding-bottom: 0px;
    }
  }
}

/* styling lists within  */
.tribe-common {
  ul.tribe-events-c-view-selector__list,
  ul.tribe-events-c-top-bar__nav-list,
  ul {
    list-style: none;
  }
}
